<%= form_for(@quest, :html => { :multipart => true }) do |f| %>
 <!-- <% if @quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

      <ul>
      <% @quest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->
  <%= render 'shared/error_messages', :object => f.object %>


  
  <table>
  <tr class="field">
    <td class="fieldlabel"><%= f.label :title %></td>
    <td><%= f.text_field :title %>
  </tr>
  <tr class="field">
    <td class="fieldlabel"><%= f.label :start %>
    <td><%= f.date_select :start %>
  </tr>
  <tr class="field">
    <td class="fieldlabel"><%= f.label :end %>
    <td><%= f.date_select :enddate %>
  </tr>
  
  <% if @quest.photo? %>
	<%= image_tag @quest.photo.url(:small) %>
  <% end %>
  
  <tr class="field">
	<td class="fieldlabel"><%= f.label 'Attach Picture' %>
	<td><%= f.file_field :photo %>
  </tr>
  <tr class="field">
    <td class="fieldlabel"><%= f.label :description %><br />
    <td><%= f.text_area :description, :size => "50x10" %>
  </tr>
  <tr class="actions">
    <td><%= f.submit %></td>
  </tr>
  </table>
  
<% end %>
