<% @status = get_status(myquest) %>
<% length = (myquest.enddate - myquest.start).to_i + 1 %>
<% launchdays = (Date.today - myquest.start).to_i %>

<% if myquest.user_id == userid %>
  <div class="myquest-box creator">
<% else %>
  <div class="myquest-box">
<% end %>

	<p class="myquest-list-title"><%= link_to truncate(myquest.title, :length => 25), myquest %></p>
	
	<div class="myquest-list-photo"> 
		<%= link_to image_tag(myquest.photo.url(:thumb)), myquest %>
	</div>
	
	
	<div class="myquest-box-stats">

		<% if @status == "Active" %>
			<div class="myquest-stat day green">
				<p class="myquest-stat-label"> Day </p>
				<%= launchdays + 1 %>
			</div>
		<% elsif @status == "Upcoming" %>
			<div class="myquest-stat day yellow">
				<p class="myquest-stat-label"> In </p>
				<%= launchdays.abs %>
			</div>
		<% else %>
			<div class="myquest-stat day grey">
				<p class="myquest-stat-label"> Done </p>
				
			</div>
		<% end %>
				
		<div class="myquest-stat length">
			<p class="myquest-stat-label"> Length </p>
			<%= length %>
		</div>		
		
		<div class="myquest-stat joiners">
			<p class="myquest-stat-label"> Joins </p>
			<%= myquest.joiners.count %>
		</div>
		
	</div>
  </div>