<% @status = get_status(myquest) %>
<% length = (myquest.enddate - myquest.start).to_i + 1 %>
<% launchdays = (Date.today - myquest.start).to_i %>

<% if myquest.user_id == userid %>
  <div class="myquest-box creator">
<% else %>
  <div class="myquest-box">
<% end %>

	<div class="myquest-list-category-box">
		<% if myquest.category.nil? %>
			<p class="myquest-list-category">Miscellaneous</p>
		<% else %>
			<p class="myquest-list-category"><%= myquest.category.name %></p>
		<% end %>
	</div>

	<p class="myquest-list-title"><%= link_to myquest.title, myquest %></p>
	
	<div class="myquest-list-photo"> 
		<%= link_to image_tag(myquest.photo.url(:original), :class => "myquest-photo-img"), myquest, :class => "myquest-photo" %>
	</div>
	
	
	<div class="myquest-box-stats">

		<% if @status == "Active" %>
			<div class="myquest-stat day green">
				<p class="myquest-stat-label"> Day </p>
				<%= launchdays + 1 %>
			</div>
		<% elsif @status == "Upcoming" %>
			<div class="myquest-stat day yellow">
				<p class="myquest-stat-label"> In </p>
				<%= launchdays.abs %>
			</div>
		<% else %>
			<div class="myquest-stat day grey">
				<p class="myquest-stat-label"> Done </p>
				
			</div>
		<% end %>
				
		<div class="myquest-stat length">
			<p class="myquest-stat-label"> Length </p>
			<%= length %>
		</div>		

<!---------- JOINS BOX -------------->
		<div class="myquest-stat joiners">
			<p class="myquest-stat-label"> Joins </p>
			<%= myquest.joiners.size %>
		</div>

		
	</div>
	
	<div class="points-circle myquest">
		<%= myquest.joiners.size %>
	</div>
	
  </div>