<% @status = get_status(quest) %>
<% length = (quest.enddate - quest.start).to_i + 1 %>
<% launchdays = (Date.today - quest.start).to_i %>


<% if @status == "Active" %>
	<div class="quest-listing active">
<% elsif @status == "Upcoming" %>
	<div class="quest-listing upcoming">
<% else %>
	<div class="quest-listing completed">
<% end %>

	<div class="quest-list-photo"> 
		<%= link_to image_tag(quest.photo.url(:thumb)), quest %>
		<div class="points-circle thisquest">
			<p class="quest-list-points"><%= quest.joiners.size %></p>
		</div>
	</div>
	
	
	<div class="joined-count">	
	
		<% if @status == "Active" %>
			<div class="myquest-stat small day green">
				<p class="myquest-stat-label small"> Day </p>
				<%= launchdays + 1 %>
			</div>
		<% elsif @status == "Upcoming" %>
			<div class="myquest-stat small day yellow">
				<p class="myquest-stat-label small"> In </p>
				<%= launchdays.abs %>
			</div>
		<% else %>
			<div class="myquest-stat small day grey">
				<p class="myquest-stat-label small"> Done </p>
				
			</div>
		<% end %>
				
		<div class="myquest-stat small length">
			<p class="myquest-stat-label small"> Length </p>
			<%= length %>
		</div>		
		
		<div class="myquest-stat small joiners">
			<p class="myquest-stat-label small"> Joins </p>
			<%= quest.joiners.size %>
		</div>
	</div>
	
	<div class="quest-list-info">
		<% if quest.category.nil? %>
			<p class="quest-list-category">Miscellaneous</p>
		<% else %>
			<p class="quest-list-category"><%= quest.category.name %></p>
		<% end %>
		
		<p class="quest-list-title"><%= link_to quest.title, quest %></p>
		
		<p class="quest-list-description">
			<%= truncate(quest.description.html_safe.gsub(/<\/?[^>]*>/, ""), :length => 200) %>
		</p>
	</div>
	<div class="clear"></div>

</div>
