<% @status = get_status(quest) %>
<% length = (quest.end - quest.start).to_i + 1 %>
<% launchdays = (Date.today - quest.start).to_i %>


<% if @status == "Active" %>
	<div class="quest-listing active">
<% elsif @status == "Upcoming" %>
	<div class="quest-listing upcoming">
<% else %>
	<div class="quest-listing completed">
<% end %>

	<div class="quest-list-photo"> 
		<%= link_to image_tag(quest.photo.url(:thumb)), quest %>
	</div>
	
	<div class="joined-count">
		<%= quest.joiners.count %>
	</div>
	
	<div class="quest-list-info">
		<p class="quest-list-title"><%= link_to quest.title, quest %></p>
		<table>
		
			<tr class="quest-info-row status">
				<% if @status == "Active" %>
					<td>
						<b>Active</b> - 
						A <u><%= length %></u> day quest - 
						Today is day <%= launchdays + 1 %>.
					</td>
				<% elsif @status == "Upcoming" %>
					<td>
						<b>Upcoming</b> - 
						A <u><%= length %></u> day quest - 
						Starts in <%= launchdays.abs %> days.
					</td>
				<% else %>
					<td>
						<b>Completed</b> - 
						A <u><%= length %></u> day quest
					</td>
				<% end %>
			</tr>
			<tr class="quest-info-row description">
				<td><%= truncate(quest.description.html_safe.gsub(/<\/?[^>]*>/, ""), :length => 200) %></td>
			</tr>

		</table>
	</div>
	<div class="clear"></div>

</div>
