<div class="full_content">
	<div class="quests-search-instructions">
		
		<ul.circle>
			<li>Find your passion</li>
			<li>Join the Quest</li>
		</ul>
	</div>
	
	<h1>Find your Quest!</h1>
	

	
	<%= form_tag quests_path, :method => 'get' do %>
	  <p>
		Search: <%= text_field_tag :search, params[:search] %>
		Category: <%= select("quest", "category", @categories, :selected => @selected_category, :include_blank => 'all' ) %>
		<%= submit_tag "Search", :name => nil %>
	  </p>
	<% end %>

	<div class="quests-list-box">
		<h2 class="myquests-list-label">Upcoming</h2>
		<div class="find-quests-box">
				<%= render @upcoming_quests %>
		</div>
		<div class="clear"></div>
		<%= will_paginate @upcoming_quests, :param_name => :upage %>
	</div>
	<div class="clear"></div>
	
	<div class="quests-list-box">
		<h2 class="myquests-list-label">Active</h2>
		<div class="find-quests-box">
				<%= render @active_quests %>
		</div>
		<div class="clear"></div>
		<%= will_paginate @active_quests, :param_name => :apage %>
	</div>
	<div class="clear"></div>
	
	<div class="quests-list-box">
		<h2 class="myquests-list-label">Completed</h2>
		<div class="find-quests-box">
				<%= render @completed_quests %>
		</div>
		<div class="clear"></div>
		<%= will_paginate @completed_quests, :param_name => :cpage %>
	</div>
	<div class="clear"></div>
	
	
	
</div>