<%= form_for([@quest, @quest.comments.build]) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= f.hidden_field :commenter, :value => current_user.name %>
  <div class="field">
    <%= f.text_area :body, :size => "50x5" %>
  </div>
  <div class="actions">
    <%= f.submit "Post Comment"%>
  </div>
<% end %>