<%= form_for @user do |f| %>  

	<%= render 'shared/error_messages', :object => f.object %>

	<div class="field">  
		<%= f.label :name %>  <br />
		<%= f.text_field :name %>  
	</div>  	  
	<div class="field">  
		<%= f.label :email %>  <br />
		<%= f.text_field :email %>  
	</div>  
<!-- TO MAKE ADMIN, ADD ADMIN TO ATTR_ACCESSIBLE AND UNCOMMENT HERE
	<div class="field">  
		<%= f.label :admin %>  <br />
		<%= f.radio_button(:admin, true) %> 
		<%= label_tag(:admin, "true") %>
		<%= f.radio_button(:admin, false) %> 
		<%= label_tag(:admin, "false") %>
	</div>  
-->
	<% if (form_type == "edit") %>
		<p class="change-password-text">Need a new password? Change it below!</p>
	<% end %>
	<div class="field">  
		<%= f.label :password %>  <br />
		<%= f.password_field :password %>  
	</div>  
	<div class="field">  
		<%= f.label :password_confirmation, "Confirm Password" %>  <br />
		<%= f.password_field :password_confirmation %>  
	</div>  
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>  
<% end %>  