<!-------------- LEFT CONTENT --------------->
<div class="left_content new_form">

	<h1>Leaderboard</h1>
	
	<ul class="users">
	  <% @leaderboard.each do |u| %>
		<%= render :partial => "user", :locals => {:user => u[0], :leaderboard => "true"} %>
	  <% end %>

	</ul>
	<%= will_paginate @leaderboard %>	
</div>

<!-------------- RIGHT CONTENT --------------->
<div class="right_content new_form">
	<h1>Find a user</h1>
	<%= form_tag users_path, :method => 'get' do %>
	  <p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	  </p>
	<% end %>
	
</div>