<!-------------- LEFT CONTENT --------------->
<div class="left_content profile">

	<h1 class="user-info">
		<%= gravatar_for @user %>
		<%= @user.name %>
	</h1>
	<% if @user.joined %>
		<span id="joined" class="stat">
			You've joined <%= @user.joined.count %> quests!
		</span>
	<% else %>
		<span id="joined" class="stat">
			You haven't joined a quest yet...
		</span>
	<% end %>
	
	<!-------------- MY QUESTS --------------->
	<div class="myquests-list-box">

		<h2 class="myquests-list-label">Active</h2>
		<div class="myquests-list">
			<% @active_quests.each do |myquest| %>
				<%= render :partial => "quests/myquest", :locals => {:myquest => myquest} %>
			<% end %>

		</div>
		<div class="clear"></div>
		<%= will_paginate @active_quests %>
	</div>
	<div class="clear"></div>
	<div class="myquests-list-box">
		<h2 class="myquests-list-label">Upcoming</h2>
		<div class="myquests-list">
			<% @upcoming_quests.each do |myquest| %>
				<%= render :partial => "quests/myquest", :locals => {:myquest => myquest} %>
			<% end %>
		</div>
		<div class="clear"></div>
		<%= will_paginate @upcoming_quests %>
	</div>
	<div class="clear"></div>
	<div class="myquests-list-box">
		<h2 class="myquests-list-label">Completed</h2>
		<div class="myquests-list">
			<% @completed_quests.each do |myquest| %>
				<%= render :partial => "quests/myquest", :locals => {:myquest => myquest} %>
			<% end %>
		</div>
		<div class="clear"></div>
		<%= will_paginate @completed_quests%>
	</div>
	<div class="clear"></div>
</div>
<!-------------- RIGHT CONTENT --------------->
<div class="right_content profile">


  <div class="comments-box-form">
	<div class="comment-wall-header">
		<h2 id="CommentWall">The Wall</h2>
		<span class="comment-count">Posts <%= @user.comments.count %></span>
	</div>
	
	<%= render 'shared/feed' %>
  </div>

</div>



