<!-------------- FULL CONTENT - TOP --------------->
<div class="full_content user_show">
	<h1 class="user-info">
		<%= gravatar_for @user %>
		<%= @user.name %>
		<% if @user.admin? %>
			<span class="admin-badge">Admin</span>
		<% end %>
	</h1>
	
	<!-------------- Edit User Button --------------->
	<% if @user.id == current_user.id %>
		<%= link_to 'Edit My Account', edit_user_path(current_user), :class => "user-button edit" %>
	<% end %>
	<!-------------- Delete User Admin Button --------------->
	<% if signed_in? && current_user.admin? %>
		<%= link_to "delete", @user, :method => :delete, :confirm => "You sure?",
									:title => "Delete #{@user.name}", :class => "user-button admin" %>
	<% end %>
	
	<div class="points-circle user">
		<%= @points %>
	</div>
	
	<table class="user-point-stats">
		<tr>
			<td class="mypoints">My Points</td>
			<td>Active Points</td>
			<td>Upcoming Points</td>
			<td>Projected Points</td>
		</tr>
		<tr>
			<td class="mypoints"><%= @points %></td>
			<td><%= @points_active %></td>
			<td><%= @points_upcoming %></td>
			<td><%= @points_upcoming+@points_active+@points %></td>
		</tr>
	</table>
		<%= link_to 'Leaderboard', users_path, :class => "leaderboard-link" %>
	
</div>
<!-------------- LEFT CONTENT --------------->
<div class="left_content profile">


	<% if @user.joined %>
		<span id="joined" class="stat">
			You've joined <%= @user.joined.count %> quests!
		</span>
	<% else %>
		<span id="joined" class="stat">
			You haven't joined a quest yet...
		</span>
	<% end %>
			
	
	<!-------------- MY QUESTS --------------->
	<div class="myquests-list-box">
		
		<h2 class="myquests-list-label"><%= @active_quests_size %> Active</h2>
		<div class="myquests-list">
			<% @active_quests.each do |myquest| %>
				<%= render :partial => "quests/quest", :locals => {:quest => myquest, :userid => @user.id} %>
			<% end %>

		</div>
		<div class="clear"></div>
		<%= will_paginate @active_quests, :param_name => :apage %>
	</div>
	<div class="clear"></div>
	<div class="myquests-list-box">
		<h2 class="myquests-list-label"><%= @upcoming_quests_size %> Upcoming</h2>
		<div class="myquests-list">
			<% @upcoming_quests.each do |myquest| %>
				<%= render :partial => "quests/quest", :locals => {:quest => myquest, :userid => @user.id} %>
			<% end %>
		</div>
		<div class="clear"></div>
		<%= will_paginate @upcoming_quests, :param_name => :upage %>
	</div>
	<div class="clear"></div>
	<div class="myquests-list-box">
		<h2 class="myquests-list-label"><%= @completed_quests_size %> Completed</h2>
		<div class="myquests-list">
			<% @completed_quests.each do |myquest| %>
				<%= render :partial => "quests/quest", :locals => {:quest => myquest, :userid => @user.id} %>
			<% end %>
		</div>
		<div class="clear"></div>
		<%= will_paginate @completed_quests, :param_name => :cpage %>
	</div>
	<div class="clear"></div>
</div>
<!-------------- RIGHT CONTENT --------------->
<div class="right_content profile">


  <div class="comments-full-box">
	<div class="comment-wall-header">
		<h2 id="CommentWall">Recent Comments</h2>
		<span class="comment-count">Last <%= pluralize(@feed_items.size, 'comment') %></span>
	</div>
	
	<%= render 'shared/feed' %>
  </div>

</div>



