<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>Questrial</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="head_body_wrapper">

	<div class="header_header"></div>

<!------------ HEADER ---------------->	
    <div id="Header">
		
			<%= link_to 'Questrial', "/home/index", :class => "questrial-title" %>
		
		<div id="top_navigation">
			<%= link_to 'Find Your Quest', quests_path, :class => "nav_header" %>
			<%= link_to 'Create Your Quest', new_quest_path, :class => "nav_header" %>
			<%= link_to 'Signup', signup_path, :class => "nav_header" %>
			<%= link_to 'Login', '#', :class => "nav_header" %>

		</div>
		
    </div>
<!------------ END HEADER ---------------->	   
<div class="body">
	<%= yield %>
</div>
<!------------ FOOTER ---------------->	
	<div class="push"></div>
</div> <!-- end HeadBodyWrapper -->
	<div class="prefooter_whitespace"></div>
    <div class="footer">
	  
		<div id="bottom_navigation">
			<span class="bottom_nav_header">@ME Productions, 2011</span> 
			<%= link_to 'Contact Us', contact_path, :class => "bottom_nav_header" %>
			<%= link_to 'Privacy Policy', privacy_path, :class => "bottom_nav_header" %>
			<%= link_to 'FAQ', faq_path, :class => "bottom_nav_header" %>
		</div>
		
    </div>
<!------------ END FOOTER ---------------->	   

</body>
</html>
