<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>Questrial</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
	bkLib.onDomLoaded(function() {
      nicEditors.allTextAreas({buttonList : ['fontSize','bold','italic','underline','left','right','center','justify','ol','ul',
											 'strikeThrough','subscript','superscript','removeformat','indent','outdent','hr','html']});
    });
  </script>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-27110667-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

  </script>
</head>
<body>

<!------------ HEADER ---------------->	
    <div id="Header">
		<div class="header-body-box">
			<%= link_to 'Questrial', "/home/index", :class => "questrial-title" %>
			
			<div id="top_navigation">
			  <div id="UserNavBox">
				<%= link_to 'Join', quests_path, :class => "nav_header red" %>
				
			  
				<% if signed_in? %>
					<%= link_to 'Create', new_quest_path, :class => "nav_header" %>
					<%= link_to 'My Quests', current_user, :class => "nav_header" %>
					<%= link_to 'My Account', edit_user_path(current_user), :class => "nav_header" %>
					<%= link_to 'Logout', signout_path, :method => :delete, :class => "nav_header" %>
				<% else %>
					<%= link_to 'Signup', signup_path, :class => "nav_header" %>
					<%= link_to 'Login', signin_path, :class => "nav_header" %>
				<% end %>
			  </div>
			  
			</div>
		</div>
    </div>
<!------------ END HEADER ---------------->

<div class="head_body_wrapper">

<!-- to add the extra white space at the top
	<div class="header_header"></div> -->

<!------------ HEADER HOLDER ---------------->	
    <div id="Header-holder">
		
    </div>
<!------------ END HEADER ---------------->	   
<div class="body">
	<% flash.each do |key, value| %>
		<div class="flash <%= key %>"><%= value %></div>
	<% end %>
	<%= yield %>
</div>
<!------------ FOOTER ---------------->	
	<div class="push"></div>
</div> <!-- end HeadBodyWrapper -->
	<div class="prefooter_whitespace"></div>
    <div class="footer">
	  
		<div id="bottom_navigation">
			<span class="bottom_nav_header">@ME Productions, 2011</span> 
			<%= link_to 'Contact Us', contact_path, :class => "bottom_nav_header" %>
			<%= link_to 'About Questrial', about_path, :class => "bottom_nav_header" %>
			<%= link_to 'FAQ', faq_path, :class => "bottom_nav_header" %>
		</div>
		
    </div>
<!------------ END FOOTER ---------------->	   

</body>
</html>
